/*Generalstyles here*/
* {
    padding: 0;
    margin: 0;
}

body {
    max-width: 100vh;
    max-width: 100vh;
    background-color: #DDDCCA;
  
}
/*game score*/ 

p{
    margin-left: 15px;
    font-size: 1rem;
}
 
/*Header*/
header {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    height: 100px;
    font-size: 1.3rem;
}

main {
    display: flex;
    justify-content: center;
    width: auto;
    min-height: auto;

}

.TheNewHeader{
    margin-top: 40px;
}
/*Pictute here*/
#Myfirstpic {
    width: 230px;
    margin-top: 60px;
    margin-left: 10px;
}




/*big game area div*/
#thebiggamearea {
    width: 50vh;
    height: 60vh;
    background-color: white;
    border-radius: 7px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}




/*The Game text Area*/
#Rockpaperandscissors{
    display: flex;
    align-items: center;
    flex-direction: column;
   
    width: 37vh;
    height: 38vh;
   
}
/*Text inside the Game */
.TextInsideGame{
  margin-top: 30px;
    
}




/*Button Div*/
#AlternativsForGame{

display: flex;
align-items: center;

}

/*Buttons*/

.buttonshere{
    padding: 10px;
    margin-top: 30px;
    margin-left: 15px;
    border-radius: 6px;
    font-weight: 700;
    border-style: none;
    background-color: #DDDCCA;
}


.buttonshere:active{
    background-color: #e4e4e4;
}


/*Score Part*/
#scorepart{
    max-width: 40vh;
    height: 5vh;
  display: flex;
    margin-top: 17px;
    flex-direction: row;
    justify-content: center;
    
}

