/*Generalstyles here*/
* {
    padding: 0;
    margin: 0;
}

body {
    max-width: 100vh;
    max-width: 100vh;
    background-color: #A78387;
}
 
/*Header*/
header {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    height: 100px;
    font-size: 1.3rem;
}

main {
    display: flex;
    justify-content: center;
    width: auto;
    min-height: auto;
}

/*big game area div*/
#thebiggamearea {
    width: 50vh;
    height: 60vh;
    background-color: white;
    border-radius: 7px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*The Game text Area*/
#Rockpaperandscissors{
   
    width: 37vh;
    height: 38vh;
    border-style: solid ;
    border-color: black;
}

/*Button Div*/
#AlternativsForGame{

display: flex;
align-items: center;

}


/*Buttons*/

.buttonshere{
    padding: 10px;
    margin-top: 30px;
    margin-left: 15px;
    border-radius: 6px;
    font-weight: 700;
    border-style: none;
    background-color: #A78387;
}

/*Score Part*/
#scorepart{
    width: 38vh;
    height: 5vh;
    border-style: solid;
    border-color: black;
    margin-top: 17px;
}